body {
   margin: 0;
   padding: 0;
   background-color: black;
}
.container {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column;
   margin-top: 1%;
   
}
.field {
   width: 95vw;
   height: 90vh;
   background-color: green;
   border-radius: 15px;
   margin: 0;
   display: flex;
   box-shadow: inset -5px -0px 25px rgba(0, 0, 0, 0.513), inset 5px 0px 25px rgba(0, 0, 0, 0.513);
   

}
.laft__field {
   height: 100%;
   width: 49.5%;
   display: flex;
   justify-content: center;
   flex-flow: column;
}
.score {
   font-size: 3rem;
   font-weight: 800;
}
.score__player__one {
   position: absolute;
   top: 3%;
   left: 24.75%;
   color: red;

}
.platform {
   width: 2rem;
   height: 8rem;
   border-radius: 7px;
}
.platform__left {
margin-left: 3%;
position: relative;
background-color: red;
box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.51), inset -1px -1px 5px rgba(0, 0, 0, 0.51);
}
.platform__right {
margin-right: 3%;
background-color: blue;
box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.51), inset -1px -1px 5px rgba(0, 0, 0, 0.51);

}
.center__fielde {
   height: 100%;
   width: 1%;
   background-color: white;
}
.ball {
   height: 2rem;
   width: 2rem;
   background-color: rgb(204, 13, 13);
   display: inline-block;
   border-radius: 50%;
   position: relative;
   top: 50%;
   opacity: 0;

}
.right__field {
   height: 100%;
   width: 49.5%;
   display: flex;
   justify-content: end;
   align-items: center;

}
.score__two {
   position: absolute;
   top: 3%;
   right:  24.75%;
   color: blue;
}
.botton__start {
   padding: 1% 2%;
   margin-top: 1%;
   color: blue;
   border: 1px solid blue;
}