html {
   --color_one: red;
   --color_two: blue;
   --main-color: #ecf0f1;
   --point-color: #555;
   --size: 5px;
   font-family: monospace;
}
body {
   margin: 0;
   padding: 0;
   background-color: black;
}
/* *ЗАГАЛЬНІ ХАРАКТЕРИСТИКИ */
.box__emblem,
.player__name,
.player__win,
.box__win,
.box__info,
.field{
   position: absolute;
   width: 100%;
   height: 100%;
}
/* *СТОРІНКА */
.container {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column;
}
/* *ЗАГАЛЬНЕ ПОЛЕ */
.page {
   position: relative;
   width: 1000px;
   height: 600px;
}
/* *ІМІТАЦІЯ ЗАВАНТАЖЕННЯ ГРИ */
.box__emblem {
   background-color: rgb(174, 81, 81);
   z-index: 3;
}
.box__emblem > div {
   position: relative;
   width: 100%;
   height: 100%;
}
/* *ЕМБЛЕМА */
.emblem {
   position: absolute;
   top: 180px;
   left: 390px;
   z-index: 2;
   font-size: 10rem;
   animation: padd 1.5s ease infinite;
}
@keyframes padd {
   50% {
      transform: scale(1.2);
      transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
}
/* *ЗАВАНТАЖЕННЯ */
.loader {
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: absolute;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   z-index: 3;
}

.loader__element {
   border-radius: 100%;
   border: var(--size) solid var(--point-color);
   margin: calc(var(--size) * 2);
}

.loader__element:nth-child(1) {
   animation: preloader 0.6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
   animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}

.loader__element:nth-child(3) {
   animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}
@keyframes preloader {
   100% {
      transform: scale(2);
   }
}
/**ПОЛЯ ВВОДУ ІМЕНА ГРАВЦІВ*/
.player__name {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: rgb(230, 158, 43);
   border-radius: 15px;
   z-index: 1;
}
/* *ПІДКАЗКА ЯК ГРАТИ */
.back__img {
   background-image: url(../img/Без\ назви-1.png);
   background-repeat: no-repeat;
}
.player__1,
.player__2 {
   display: flex;
   align-items: center;
   flex-flow: column;
   font-size: 3rem;
   font-weight: 800;
   color: var(--color_one);
}
.player__2 {
   color: var(--color_two);
}
input {
   width: 300px;
   height: 50px;
   font-size: 2rem;
   font-weight: 600;
   background-color: rgb(230, 158, 43);
   border-radius: 10px;
   border: 4px solid rgb(8, 0, 0);
}
/**ПОЛЕ ВИВОДУ ПЕРЕМОЖЦЯ*/
.player__win {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column;
   flex-wrap: wrap;
   background-color: gold;
   border-radius: 15px;
   font-size: 6rem;
   font-weight: 600;
}
/* *ТАБЛИЦЯ РЕЗУЛЬТАТІВ */
.box__win {
   background-color: rgb(72 48 1);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column;
   border-radius: 13px;
   z-index: 0;
}
/* *КНОПКА ВИХОДУ  З ТАБЛИЦІ ТА ІНФОРМАЦІЇ ПРО РОЗРОБНИКА */
.remove__box,
.remove__box-info {
   position: absolute;
   right: 5px;
   top: 5px;
   width: 2.5rem;
   height: 2.5rem;
   background-color: rgb(71 47 1 / 94%);
   color: rgba(255, 255, 255, 0.884);
   font-size: 1.5rem;
   font-weight: 900;
   font-family: revert;
   border-radius: 10px;
   border: 1px solid rgb(144, 82, 7);
   box-sizing: border-box;
}
.remove__box-info {
   color: rgb(110, 8, 8);
   background-color: rgb(0, 0, 0);
   border: 1px solid rgba(102, 9, 9, 0.891);
}
.remove__box:hover {
   color: rgba(255, 0, 0, 0.545);
   border: 1px dashed rgba(255, 0, 0, 0.726);
   cursor: pointer;
}
.remove__box-info:hover {
   background-color: rgb(25, 24, 24);
   color: rgb(255, 115, 0);
   border: 1px dashed rgba(255, 115, 0);
   cursor: pointer;
}
/* *КОНТЕЙНЕР ДЛЯ РЕЗУЛЬТАТІВ*/
.box__vs {
   position: relative;
   width: 90%;
   height: 90%;
   background-color: rgb(192, 112, 8);
   border-radius: 15px;
   padding: 1rem;
   overflow: auto;
   box-sizing: border-box;
}
/* *БОКС  ДЛЯ ПОЛІВ ВИВОДУ РАХУНКУ ІМЕНІ НОМЕРУ ГРИ  */
.vs__game {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(146, 77, 17);
   border-radius: 10px;
   margin-bottom: 8px;
   border: 3px solid rgba(0, 0, 0, 0.375);
   box-sizing: border-box;
}
/* *НОМЕР ГРИ */
.namber__game {
   font-size: 2.5rem;
   font-weight: 700;
   margin-left: 1rem;
   width: 3rem;
   color: rgba(0, 0, 0, 0.649);
   box-sizing: border-box;
}
/* *ІМЕНА ГРАВЦІВ */
.box__player {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 2rem;
   font-weight: 600;
   padding: 0.5rem 1rem;
   border-radius: 15px;
   background-color: rgb(232, 206, 173);
   border: 2.5px solid rgba(57 27 1 / 84%);
   box-sizing: border-box;
}
.player1__vs {
   color: var(--color_one);
}
.vs {
   color: rgb(69, 66, 66);
   margin: 0rem 1rem;
}
.player2__vs {
   color: var(--color_two);
}
/* *РАХУНОК ГРИ  */
.score__game {
   font-size: 2rem;
   font-weight: 600;
   padding: 0.5rem 1rem;
   border-radius: 15px;
   margin-right: 1rem;
   color: rgb(85, 85, 85);
   background-color: rgb(232, 206, 173);
   border: 2.5px solid rgba(57 27 1 / 84%);
   box-sizing: border-box;
}
/* *ІНФОРМАЦІЯ ПРО РОЗРОБНИКА */
.box__info {
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
   background-color: rgb(25, 24, 24);
   color: white;
   border-radius: 13px;
   padding: 2rem;
   font-size: 2rem;
   font-weight: 100;
   box-sizing: border-box;
}
/* *ІГРОВЕ ПОЛЕ */
.field {
   display: flex;
   overflow: hidden;
   background-color: green;
   box-shadow: inset -5px -0px 25px rgba(0, 0, 0, 0.513), inset 5px 0px 25px rgba(0, 0, 0, 0.513);
   border-radius: 15px;
}
/* *ЗАГАЛЬНІ СТИЛІ ДЛЯ РАХУНКУ ТА ПЛАТФОРМ */
.score {
   font-size: 4rem;
   font-weight: 800;
}
.platform {
   width: 25px;
   height: 200px;
   border-radius: 7px;
}
/* *ІМ'Я ГРАВЦЯ 1 */
.palyer__name1 {
   position: absolute;
   top: 5%;
   left: 6%;
   font-size: 3em;
   font-weight: 600;
   color: var(--color_one);
   opacity: 0.7;
}
/* *РАХУНОК ГРАВЦЯ 1 */
.score__one {
   position: absolute;
   top: 3%;
   left: 45%;
   color: var(--color_one);
   opacity: 0.7;
}
/* *ПЛАТФОРМА ГРАВЦЯ 1 */
.platform__left {
   position: absolute;
   background-color: var(--color_one);
   box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.51), inset -1px -1px 5px rgba(0, 0, 0, 0.51);
}
/* *ЛІНІЯ ПО ЦЕНТРУ */
.center__fielde {
   position: absolute;
   left: 50%;
   height: 100%;
   width: 1%;
   background-color: white;
}
/* *ІМ'Я ГРАВЦЯ 2 */
.palyer__name2 {
   position: absolute;
   top: 5%;
   right: 6%;
   font-size: 3em;
   font-weight: 600;
   color: var(--color_two);
   opacity: 0.7;
}
/* *РАХУНОК ГРАВЦЯ 2*/
.score__two {
   position: absolute;
   top: 3%;
   right: 45%;
   color: var(--color_two);
   opacity: 0.7;
}
/* *ПЛАТФОРМА ГРАВЦЯ 2 */
.platform__right {
   position: absolute;
   background-color: var(--color_two);
   box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.51), inset -1px -1px 5px rgba(0, 0, 0, 0.51);
}
/* *М'ЯЧ */
.ball {
   position: absolute;
   width: 30px;
   height: 30px;
   background-color: rgba(204, 13, 13, 0.7);
   display: inline-block;
   border-radius: 50%;
   border: 2px solid var(--color_one);
   box-sizing: border-box;
}
/* *БОКС КНОПОК*/
.box__button {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2%;
   width: 100%;
}
/* * КНОПКИ ТАБЛИЦІ ТА ІНФО*/
.info__developer,
.teble__win {
   height: 100%;
   font-size: 3rem;
   background-color: black;
   padding: 1rem;
   border: none;
   box-sizing: border-box;
}
.teble__win:hover {
   transform: scale(1.3);
   transition: 0.3s cubic-bezier(0.15, 0.11, 0.76, 0.86);
   cursor: pointer;
}
.info__developer:hover {
   transform: scale(1.3);
   transition: 0.3s cubic-bezier(0.15, 0.11, 0.76, 0.86);
   cursor: pointer;
}
/**КНОПКА СТАРТ РЕСЕТ ГРИ*/
.btn__start-game {
   padding: 1% 2.5%;
   font-size: 1.5rem;
   font-weight: 500;
   font-family: monospace;
   background-color: rgb(5, 173, 5);
   border: 2px solid rgb(9, 96, 22);
   border-radius: 10px;
   z-index: 1;
}
.btn__start-game:hover {
   background-color: rgb(3, 221, 3);
   cursor: pointer;
}