body {
   margin: 0;
   padding: 0;
   background-color: rgba(0, 0, 0, 0.481);
}

hr {
   width: 100%;
   height: 2px;
   background-color: burlywood;
}
span {
   color: rgb(43, 0, 255);
}
main {
   padding: 2rem;

}
.box__task {
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
}
.box {
}
/* ================================ */
.task__1 {
   font-size: 2rem;
   text-align: center;
}
/* ================================ */
.task__2 {
   font-size: 2rem;
}
ul {
   margin: 0;
   padding: 0;
   list-style: none;
}
/* ================================ */
.task__3 {
   width: 400px;
   height: 200px;
   background-color: rgba(246, 158, 41, 0.87);
   color: black;
   font-size: 2rem;
}
/* ================================ */
.task__4 {
   background-color: orange;
}
.task__4 button {
   font-size: 2rem;
   margin: 0.5rem;
   padding: 0.5rem 1rem;
   border: 3px solid rgba(255, 0, 0, 0.602);
   border-radius: 10px;
   box-sizing: border-box;
}
.task__4 >button:hover {
   background-color:orange;
   color: white;
}
/* ==================== */
.task__5 {
   background-color: rgba(205, 0, 174, 0.82);
   width: 100px;
   height: 100px;
   transition: 1s;
}
/* ================================ */
.task__6 input {
   width: 10rem;
   height: 5rem;
}
.task__6 label {
   font-size: 2rem;
}
/* ======================= */
.task__7 > input {
   font-size: 2rem;
   padding: 1rem;
}
.task__7 > label {
   font-size: 2rem;
}
.task__8 {
   width: 400px;
   min-height: 100px;
   overflow: hidden;
   font-size: 2rem;
}
.task__8 > textarea {
   width: 400px;
   height: 200px;
   resize: none;
   font-size: 2rem;
   padding: 0.7rem;
}
.container__text{
   padding: 1rem;
}