/*div{
   margin: 150px;
   width: 100px;
   height: 120px;
   background-color: aqua;
   border: 1px solid black;
}*/
/*!secundomir start====================================*/
.black{
   background: black;
}
.silver{
   background: rgba(88, 88, 88, .5);
}
.red{
   background: rgba(231, 40, 40, 0.5);
}
.green{
   background: rgba(39, 211, 76, 0.5);
}
.container-stopwatch{
   
   margin: 0 auto;
   width: fit-content;
   padding: 1rem;
   text-align: center;
   border-radius: .5rem;
   box-shadow: 0 0 10px black;
}
.stopwatch-display{
   background: rgba(22, 97, 12, 0.5);
   padding: 1.5rem;
   font-weight: bold;
   box-sizing: border-box;
   font-size: 2rem;
   margin-bottom: 1rem;
}
.stopwatch-display span{
   font-size: 2rem;
}
.stopwatch-control button{
   text-transform: uppercase;
   color: white;
   background: rgba(0, 0, 0, 0.829);
   border: none;
   cursor:	grab;
}
.stopwatch-control button:nth-child(2){
   margin: 0 .5rem;
}
/*!secundomir stop ====================================*/
/* ! перевірка номеру start============================*/
.inp{
   width: 150px;
   height: 30px;
   
}
.btn{
   width: 100px;
   height: 20px;
}
.container{
   height: 100px;
   width: 400px;
}
/* ! перевірка номеру stop============================*/
/*! slider satrt*/
img{
   width: 300px;
}
.slide__container {
   max-width: 1200px;
   margin: 30px auto;
   background-color: #f1f1f1;
   padding: 30px;
   display: flex;
   flex-flow: column;
   align-items: center;
   

}
.slider {
   width: 297px;
   height: 300px;
   border: 1px solid black;
   margin: 15px auto; 
   overflow: hidden;
}
.slider__line {
   height: 300px;
   display: flex;
   position: relative;
   left: 0;
   transition: all ease 1s;
}
.container__btn {
   width: 297px;
   display: flex;
   justify-content: center;
   padding: auto;
}
.slider__next:hover,.slider__back:hover {
   border-radius: 10px;
   background-color: green;
   transition: all ease .5s;
}