/* Container--------------- */
.grid-container {
   --flap: minmax(20px, 1fr);
   --content: minmax(250px, 1200px);
   display: grid;
   grid-template-columns: var(--flap) var(--content) var(--flap);
}
.grid-content {
   grid-column: 2 / 3;
}
.grid-content-full {
   grid-column: 1 / -1;
}
/* 
!секція 1 
!2 бокса flex
?1 бокс -text
ширина 520рх
ін
1h-400 fs-120 lh-127 ff-W-one   /// m-fs-60 m-lh-63
p 400 fs-18 lh-26  ff- lato
btn -400 fs-16 lh-19 ff- lato
?box 2 foto
width 532 heigtht 711
!section 2
!2 box flex
?1 box - fotto
w - 430 h - 529
?2 box - text
width - 510n
in
h2 400 fs-90 lh-95 ff-W-one   /// m-fs-52 m-lh-65
p p 400 fs-18 lh-26 ff- lato
btn -400 fs-16 lh-19 ff - lato
!section 3 
!2box colum
? 1 box -text
width -661
h2 - W-one 400 fs-90 lh -95   /// m-fs-52 m-lh-65
? 2box grid card
?1200 - 3 colum 
?-row -auto
? card
width 336 height 464
in 
all - centre
foto 
*gap -47
name ff w-one 400 fs-32 lh-34 
*gap 34
discription ff lato 400 fs-16 lh-24
*gap 38
?box count + btn
count ff-avenir 900 fs-20 lh-27
btn ff-lato 400 fs-16 lh-19
!section 4 
2 box -flex
?1 box -text
width 584
h2 ff- w-one 400 fs-120 lh-127 /// m-fs-52 m-lh-65
p ff-lato 400 fs-18 lh-26 
btn -400 fs-16 lh-19 ff - lato
?2 box fotto 
!footer color: #FDEFD1
!2 box
?1 box 
in 3box flex
div ff w-one 400 fs-32 lh-34
nav >ul > 3 li - colum ff-lato 700 fs-18 lh-30 
form 
labl ff-lato 700 fs-18 lh-30
input width 294 height 43  
plasholder ff-lato 700 fs-16 lh-30
btn w-106 h-43 ff-lato 400 fs-16 lh-19 
*/
