/* Reset ---------------*/
*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
html,
body {
   height: 100%;
   padding: 0;
   margin: 0;
   font-family: "Lato";
   font-weight: var(--fw-regular);
   color: var(--clr-main);
}
body._lock {
   overflow: hidden;
}
a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style: none;
}

img {
   vertical-align: top;
}
.wraper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   background-image: url("/img/bG.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
main {
   flex: 1 1 auto;
}
.d-none {
   display: none;
}
/* !Fonts family-------------------- */
.ff__wendy-one {
   font-family: var(--ff-wendy-one);
}

.ff__lato {
   font-family: var(--ff-lato);
}

.title-xl {
   font-size: var(--fs-xl);
   line-height: var(--lh-h1-title-xl);
}
.title-lg {
   font-size: var(--fs-lg);
   line-height: var(--lh-h1-title-lg);
}
@media (max-width: 1200px) {
   .title-xl {
      font-size: calc(60px + 60 * ((100vw - 320px) / (1240 - 320)));
      line-height: calc(63px + 64 * ((100vw - 320px) / (1240 - 320)));
   }
   .title-lg {
      font-size: calc(var(--fs-tel-md) + 38 * ((100vw - 320px) / (1240 - 320)));
      line-height: calc(65px + 30 * ((100vw - 320px) / (1240 - 320)));
   }
}

/*! <p> */
.p-lato {
   font-size: var(--fs-md);
   line-height: var(--lh-p-sub-title-md);
   padding: 46px 0px;
}
/*! btn */
/* Reset */
.btn {
   font-family: Lato;
   font-size: 16px;
   line-height: 19px;
   background: none;
   border: none;

   /* Styles */
   font-weight: 400;
   padding: 10px 16px;
   border-radius: 8px;
   border: 1px solid transparent;
   flex: none;
   letter-spacing: 1px;
   text-transform: uppercase;
   box-sizing: border-box;
}
.btn.card {
   padding: 11px 22px;
   background-color: var(--clr-main);
   color: var(--clr-btn-text-yelow);
}
.btn.small {
   min-width: 206px;
   max-width: 206px;
   padding: 11px 0px;
   background-color: var(--clr-main);
   color: var(--clr-btn-text-yelow);
}
.btn:hover {
   background-color: #602b92;
}

.btn:active,
.btn-footer:active {
   transform: translateY(1px);
}
/* !Heder nav */
.heder__section {
   background-color: var(--clr-heder-bg);
}
.box__heder {
   /* position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10; */
   background-color: var(--clr-heder-bg);
}
.heder__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   height: 80px;
}
.hede-nav {
   display: flex;
   justify-content: start;
   flex-wrap: wrap;
   gap: 14px;
}
.hede-nav a {
   font-size: var(--fs-md);
   line-height: 22px;
   color: var(--clr-main);
}
.hede-nav a:hover {
   font-weight: var(--fw-ex-bold);
}
.cart {
   display: flex;
   justify-content: end;
   width: 40px;
   height: 40px;
   padding: 5px;
   box-sizing: border-box;
   position: relative;
}
.count {
   position: absolute;
   bottom: 20.5px;
   right: -2px;
   font-size: 14px;
   font-weight: 400;
   height: 22px;
   width: 22px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--clr-heder-count);
   border-radius: 50%;
   color: var(--clr-main);
   overflow: hidden;
}
/* !section-1 */
.section-1 {
   align-items: center;
   padding: 50px 0px;
}
.box-cupcakes {
   position: relative;
   overflow: hidden;
}
.l-cupcake,
.r-cupcake,
.b-cupcake {
   position: absolute;
}
.l-cupcake {
   transform: translateY(-100vw);

   top: 20px;
   left: 0px;
   /* width: 51.1%; */
   width: 268px;
}
.r-cupcake {
   transform: translateY(100vw);

   top: 0;
   right: 0px;
   /*  width: 32.3%; */
   width: 177px;
}
.b-cupcake {
   filter: drop-shadow(4px -10px 16px hsl(299, 136%, 69%));
   transform: translateX(-100vh);

   bottom: 0px;
   right: 60px;
   /*  width: 58.2%; */
   width: 306px;
}
.box-cupcakes._active > :is(.r-cupcake, .l-cupcake, .b-cupcake) {
   transition: show-r 1s ease, show-l 1s ease, show-b 1s ease;
}
.box-cupcakes._active > .r-cupcake {
   animation: show-r 1s ease-out forwards 0.2s;
}
.box-cupcakes._active > .l-cupcake {
   animation: show-l 1s ease-out forwards 0.4s;
}
.box-cupcakes._active > .b-cupcake {
   animation: show-b 1s ease-out forwards 0.6s;
}
@keyframes show-r {
   0% {
      transform: translateX(100vw);
   }
   100% {
      transform: translateX(0vw);
   }
}
@keyframes show-l {
   0% {
      transform: translateX(-100vw);
   }
   100% {
      transform: translateX(0vw);
   }
}
@keyframes show-b {
   0% {
      transform: translateY(100vh);
   }
   100% {
      transform: translateX(0vh);
   }
}

/* !Min */
@media (min-width: 768px) {
   .section-1 {
      display: flex;
      align-items: center;
      /* justify-content: space-between */
      padding: 50px 0px;
   }
   .box-mis-cupcake {
      width: 42.5%;
      min-width: 400px;
   }
   .box-cupcakes {
      height: 711px;
      width: 44.3%;
      /* min-width: 460px; */
      margin-left: 158px;
   }
}
@media (max-width: 1240px) {
   .box-cupcakes {
      height: /* 711px */ calc(600px + 111 * ((100vw - 768px) / (1240 - 768)));
      /* min-width: 460px; */
      margin-left: calc(0px + 158 * ((100vw - 768px) / (1240 - 768)));
   }
   .r-cupcake {
      width: calc(107px + 70 * ((100vw - 768px) / (1240 - 768)));
   }
   .l-cupcake {
      top: calc(55px - 35 * ((100vw - 768px) / (1240 - 768)));
      /* width: 51.1%; */
      width: calc(205px + 63 * ((100vw - 768px) / (1240 - 768)));
   }
   .b-cupcake {
      right: calc(0px + 60 * ((100vw - 768px) / (1240 - 768)));
      /*  width: 58.2%; */
      width: calc(239px + 67 * ((100vw - 768px) / (1240 - 768)));
   }
}
/* !Max */
@media (max-width: 768px) {
   .box-mis-cupcake {
      text-align: center;
      margin: 0 auto;
      max-width: 400px;
   }
   .box-cupcakes {
      height: calc(521px + 179 * ((100vw - 320px) / (1240 - 320)));
      margin-top: 50px;
      margin-left: 0;
   }
   .l-cupcake {
      top: 20px;
      left: -20px;
      /* width: 51.1%; */
      width: calc(200px + 109 * ((100vw - 320px) / (1240 - 320)));
   }
   .r-cupcake {
      display: block;
      top: 0;
      right: 0px;
      /*  width: 32.3%; */
      width: calc(109px + 63 * ((100vw - 320px) / (1240 - 320)));
   }
   .b-cupcake {
      bottom: 0px;
      /* right: 140px; */
      /*  width: 58.2%; */
      /* width: 324px; */
      right: calc(0px + 300 * ((100vw - 320px) / (1240 - 320)));
      /*  width: 58.2%; */
      width: calc(241px + 83 * ((100vw - 320px) / (1240 - 320)));
   }
}
/* !section-2 */
.section-2 {
}
.box-chocolate-cupcake {
   position: relative;
   display: flex;
   flex-flow: column;
   align-items: center;
}
.h-chocolate-cupcake {
   width: 100%;
   position: absolute;
   top: 0; /* 74px */
   z-index: 5;
}
.b-chocolate-cupcake {
   width: 92.1%;
   position: absolute;
   bottom: 0;
}

.box-simple-sweet {
   margin-left: 158px;
}
.box-simple-sweet h2 {
}
@media (min-width: 768px) {
   .section-2 {
      display: flex;
      align-items: center;
   }
   .box-chocolate-cupcake {
      height: 529px;
      width: 430px;
   }
   .box-simple-sweet {
      width: 510px;
      margin-left: 158px;
   }
}

@media (max-width: 1240px) {
   .box-simple-sweet {
      margin-left: calc(0px + 158 * ((100vw - 768px) / (1240 - 768)));
   }
   .box-chocolate-cupcake {
      width: auto;
      min-width: calc(350px + 80 * ((100vw - 768px) / (1240 - 768)));
      height: calc(445px + 84 * ((100vw - 768px) / (1240 - 768)));
   }
}

@media (max-width: 768px) {
   .section-2 {
      display: flex;
      flex-flow: column-reverse;
      align-items: center;
   }
   .box-simple-sweet {
      text-align: center;
      max-width: 400px;
      margin: 0 auto;
      margin-bottom: 70px;
   }
}
/* !Section 3  */
.section-3 {
   padding-top: 455px;
}
.section-3 > p {
   margin-bottom: 207px; /* proba */
   width: 661px;
   /* max-width: calc(533px + 128 * ((100vw - 768px) / (1240 - 768))); */
}
.product {
   display: grid;
   column-gap: 50px;
   row-gap: 70px;
   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.product__card {
   display: grid;
   grid-auto-flow: row; /* !по вертикалі робимо грід сітку у карточці */
   grid-template: minmax(40%, auto) 1fr 1fr minmax(43px, auto) / 1fr;
   gap: 24px;
   text-align: center;
   padding: 15px;
   box-sizing: border-box;
}
.product__fotto {
}
.product__fotto img {
}
.product__name {
   font-size: var(--fs-bg);
   line-height: 34px;
}
.product__description {
   font-size: var(--fs-sm);
   line-height: var(--lh-p-sub-name-card-sm);
}
.container__count-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.count-in-card {
   width: 100px;
   height: 43px;
   border: 2px solid var(--clr-main);
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 900;
   font-size: 20px;
}

.minus,
.plus {
   width: 38%;
}
.number {
   line-height: 27px;
   width: 24%;
}
.plus {
}
@media (max-width: 1240px) {
   .section-3 > p {
      width: auto;
      max-width: calc(533px + 128 * ((100vw - 768px) / (1240 - 768)));
   }
}
/* !section 4 */
.cupcake__once-upon {
   width: 70%;
   min-width: auto;
   margin-left: 0;
   padding-top: 30px;
}
.section-4 {
   display: flex;
   padding-top: 454px;
}
.box-once-upon {
   width: 584px;
}
.box-once-upon h2 {
}

.cupcake__once-upon {
   width: 494px;
   min-width: 315px;
   padding-top: 200px;
}
.cupcake__once-upon img {
   width: 100%;
}
@media (min-width: 768px) {
   .section-4 {
      justify-content: space-between;
   }
}
@media (max-width: 1240px) {
   .box-once-upon {
      width: auto;
      max-width: calc(280px + 304 * ((100vw - 320px) / (1240 - 320)));
   }
   .box-once-upon h2 {
      font-size: calc(var(--fs-tel-md) + 68 * ((100vw - 320px) / (1240 - 320)));
   }
   /*.cupcake__once-upon {
       margin-left: calc(0px + 146 * ((100vw - 768px) / (1240 - 768))); 
      
   }*/
}
@media (max-width: 768px) {
   .section-4 {
      flex-flow: column;
      align-items: center;
   }
   .box-once-upon {
      text-align: center;
   }
   .cupcake__once-upon {
      width: 70%;
      min-width: auto;
      margin-left: 0;
      padding-top: 30px;
   }
}
/* !footer */
footer {
   margin-top: 150px;
   color: var(--clr-footer-text);
}
.grid-container {
}
.grid-content {
}
.box__footer {
   display: flex;
   margin-bottom: 52px;
   gap: calc(0px + 190 * ((100vw - 768px) / (1240 - 768)));
}
.miss-cupcake-footer {
   font-size: var(--fs-bg);
   line-height: 1; /* 34/32 */
   width: 150px;
}
.footer-lists {
}
.item-lists,
.policy-item,
.label {
   font-size: var(--fs-md);
   font-weight: var(--fw-bold);
   line-height: 2.6; /* 48/18 */
}
.box-input {
   position: relative;
}
.box-input input {
   width: 394px;
   font-size: var(--fs-sm);
   font-weight: var(--fw-bold);
   line-height: 30px;
   padding-left: 24px;
   border: 2px solid #fdefd1;
   border-radius: 8px;
   background-color: #5d3494;
   height: 44px;
}
.btn-footer {
   position: absolute;
   top: 6px;
   right: 10px;
   font-size: var(--fs-sm);
   line-height: 31px;
   color: #642c99;
   background-color: var(--clr-footer-text);
   width: 88px;
   height: 32px;
   border-radius: 8px;
   border: transparent;
   text-transform: uppercase;
   text-align: center;
}
.btn-footer:hover {
   background-color: #f1e4c9;
}
.box-policy {
   display: flex;
   align-items: center;
   margin-bottom: 31px;
}
.box-policy span {
   margin-right: 68px;
}
.policy-lists ul {
   display: flex;
   gap: 68px;
}
.policy-item {
}
