:root {
   /*! page set */
   --min-width: 320px;
   --max-width: 1200px;
   --hedre-height: 70px;
   /*! Color */
   --clr-main: #642c99;
   --clr-btn-text-yelow: #fbfac9;
   --clr-footer-text: #fdefd1;
   --clr-heder-bg: #fae0cf;
   --clr-heder-count: #fcefd2;
   /*! fonts size pc*/
   --fs-sm: 16px;
   --fs-md: 18px;
   --fs-bg: 32px;
   --fs-lg: 90px;
   --fs-xl: 120px;
   /*! fonts size phone*/
   --fs-tel-md: 52px;
   /* !Width */
   --width-100vw: 100vw;
   /*! fonts weith */
   --fw-regular: 400;
   --fw-bold: 700;
   --fw-ex-bold: 900;
   /* !font family */
   --ff-lato: "Lato";
   --ff-wendy-one: "Wendy One";
   /* !Line height */
   --lh-p-sub-name-card-sm: 24px;
   --lh-p-sub-title-md: 26px;
   --lh-h1-title-lg: 95px;
   --lh-h1-title-xl: 127px;
   /* !GAP */
   --row-gap: 176px;
   --colum-gap: 90px;

   --flap-left: minmax(16, 1fr);
   --flap-right: minmax(16, 1fr);
   --content: minmax(var(--min-width), var(--max-width));
   /* !Adapt size */
   /* --adapt-size: calc(var(--fs-tel-md) + 38 * (var(--width-100vw) - var(--min-width) / (var(--max-width) - 320))); */
}
