html{
   font-size: 10px;
}
body{
   margin: 0;
   padding: 0;
}
p{
   font-size: 2rem;
   font-weight: 500;
   border: 1px solid rgb(71, 70, 70);
   padding: 1rem;
   display: inline-block;
   margin: .5rem;
   width: 30rem;
   box-sizing: border-box;
}
